#Graphs{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
    justify-items: center
}

#Graphs>div>h2{
    text-align: center;
}
h1{
    text-align: center
}